body {
  margin:0px;
  background-image:url('../../images/new_page_19_3/bg.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 1080px;
  position:static;
  left:auto;
  width:1926px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1666 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:86px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1667 {
  position:absolute;
  left:162px;
  top:0px;
  width:176px;
  height:86px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1668 {
  position:absolute;
  left:0px;
  top:96px;
  width:152px;
  height:72px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1669 {
  position:absolute;
  left:0px;
  top:238px;
  width:152px;
  height:68px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1670 {
  position:absolute;
  left:0px;
  top:168px;
  width:152px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1671 {
  position:absolute;
  left:0px;
  top:306px;
  width:152px;
  height:68px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1672 {
  position:absolute;
  left:0px;
  top:444px;
  width:152px;
  height:74px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1673 {
  position:absolute;
  left:0px;
  top:812px;
  width:152px;
  height:98px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1674 {
  position:absolute;
  left:0px;
  top:910px;
  width:152px;
  height:82px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1675 {
  position:absolute;
  left:0px;
  top:992px;
  width:152px;
  height:88px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1676 {
  position:absolute;
  left:166px;
  top:96px;
  width:172px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1677 {
  position:absolute;
  left:530px;
  top:82px;
  width:150px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1678 {
  position:absolute;
  left:690px;
  top:82px;
  width:146px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1679 {
  position:absolute;
  left:846px;
  top:82px;
  width:152px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1680 {
  position:absolute;
  left:166px;
  top:986px;
  width:172px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1681 {
  position:absolute;
  left:1440px;
  top:18px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1682 {
  position:absolute;
  left:1826px;
  top:0px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
