body {
  margin:0px;
  background-image:url('../../images/new_page_19_6/bg.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 1080px;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3609 {
  position:absolute;
  left:1782px;
  top:228px;
  width:118px;
  height:76px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3610 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3611 {
  position:absolute;
  left:164px;
  top:0px;
  width:178px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3612 {
  position:absolute;
  left:1440px;
  top:12px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3613 {
  position:absolute;
  left:1820px;
  top:12px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3614 {
  position:absolute;
  left:0px;
  top:172px;
  width:154px;
  height:74px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3615 {
  position:absolute;
  left:0px;
  top:246px;
  width:154px;
  height:68px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3616 {
  position:absolute;
  left:0px;
  top:314px;
  width:154px;
  height:72px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3617 {
  position:absolute;
  left:0px;
  top:386px;
  width:154px;
  height:64px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3618 {
  position:absolute;
  left:0px;
  top:450px;
  width:154px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3619 {
  position:absolute;
  left:0px;
  top:810px;
  width:154px;
  height:94px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3620 {
  position:absolute;
  left:0px;
  top:914px;
  width:154px;
  height:78px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3621 {
  position:absolute;
  left:0px;
  top:1002px;
  width:154px;
  height:84px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3622 {
  position:absolute;
  left:180px;
  top:90px;
  width:150px;
  height:80px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3623 {
  position:absolute;
  left:352px;
  top:80px;
  width:134px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3624 {
  position:absolute;
  left:660px;
  top:80px;
  width:154px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3625 {
  position:absolute;
  left:836px;
  top:90px;
  width:134px;
  height:80px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3626 {
  position:absolute;
  left:980px;
  top:80px;
  width:158px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3627 {
  position:absolute;
  left:180px;
  top:986px;
  width:150px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3628 {
  position:absolute;
  left:340px;
  top:986px;
  width:146px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3629 {
  position:absolute;
  left:496px;
  top:986px;
  width:154px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3630 {
  position:absolute;
  left:660px;
  top:986px;
  width:154px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3631 {
  position:absolute;
  left:814px;
  top:986px;
  width:156px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3632 {
  position:absolute;
  left:1804px;
  top:986px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3633 {
  position:absolute;
  left:1804px;
  top:172px;
  width:84px;
  height:74px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3634 {
  position:absolute;
  left:1804px;
  top:246px;
  width:100px;
  height:52px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3635 {
  position:absolute;
  left:312px;
  top:176px;
  width:160px;
  height:66px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3636 {
  position:absolute;
  left:643px;
  top:180px;
  width:207px;
  height:55px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
