body {
  margin:0px;
  background-image:url('../../images/sample-view_samples-details/bg.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 1200px;
  position:static;
  left:auto;
  width:1923px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3353 {
  position:absolute;
  left:176px;
  top:1106px;
  width:170px;
  height:92px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3354 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:89px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3355 {
  position:absolute;
  left:0px;
  top:99px;
  width:152px;
  height:75px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3356 {
  position:absolute;
  left:0px;
  top:387px;
  width:152px;
  height:62px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3357 {
  position:absolute;
  left:0px;
  top:449px;
  width:152px;
  height:83px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3358 {
  position:absolute;
  left:0px;
  top:934px;
  width:152px;
  height:83px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3359 {
  position:absolute;
  left:0px;
  top:1027px;
  width:152px;
  height:81px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3360 {
  position:absolute;
  left:0px;
  top:1118px;
  width:152px;
  height:64px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3361 {
  position:absolute;
  left:162px;
  top:0px;
  width:173px;
  height:89px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3362 {
  position:absolute;
  left:1823px;
  top:0px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3363 {
  position:absolute;
  left:1437px;
  top:11px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3364 {
  position:absolute;
  left:173px;
  top:87px;
  width:162px;
  height:87px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3365 {
  position:absolute;
  left:506px;
  top:74px;
  width:149px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3366 {
  position:absolute;
  left:665px;
  top:74px;
  width:152px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3367 {
  position:absolute;
  left:827px;
  top:74px;
  width:142px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3368 {
  position:absolute;
  left:979px;
  top:74px;
  width:166px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3369 {
  position:absolute;
  left:0px;
  top:178px;
  width:164px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3370 {
  position:absolute;
  left:0px;
  top:248px;
  width:152px;
  height:64px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3371 {
  position:absolute;
  left:0px;
  top:312px;
  width:152px;
  height:74px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
