body {
  margin:0px;
  background-image:url('../../images/new_page_9_9/bg.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 1080px;
  position:static;
  left:auto;
  width:1436px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3087 {
  position:absolute;
  left:1096px;
  top:262px;
  width:340px;
  height:528px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
