body {
  margin:0px;
  background-image:url('../../images/new_page_7_5/bg.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 1080px;
  position:static;
  left:auto;
  width:1348px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1459 {
  position:absolute;
  left:970px;
  top:258px;
  width:378px;
  height:526px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
