body {
  margin:0px;
  background-image:url('../../images/new_page_13_1/bg.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 1080px;
  position:static;
  left:auto;
  width:1439px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u299 {
  position:absolute;
  left:1143px;
  top:256px;
  width:296px;
  height:521px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u300 {
  position:absolute;
  left:503px;
  top:314px;
  width:132px;
  height:75px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u301 {
  position:absolute;
  left:503px;
  top:399px;
  width:115px;
  height:72px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
