body {
  margin:0px;
  background-image:url('../../images/new_page_21/bg.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 1080px;
  position:static;
  left:auto;
  width:1646px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u364 {
  position:absolute;
  left:1334px;
  top:106px;
  width:312px;
  height:836px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u365 {
  position:absolute;
  left:596px;
  top:228px;
  width:202px;
  height:86px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
