body {
  margin:0px;
  background-image:url('../../images/new_page_34_3/bg.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 1080px;
  position:static;
  left:auto;
  width:1282px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5853 {
  position:absolute;
  left:746px;
  top:418px;
  width:188px;
  height:68px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5854 {
  position:absolute;
  left:732px;
  top:548px;
  width:180px;
  height:72px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5855 {
  position:absolute;
  left:954px;
  top:644px;
  width:312px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5856 {
  position:absolute;
  left:1182px;
  top:308px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
