body {
  margin:0px;
  background-image:url('../../images/new_page_2_13/bg.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 1080px;
  position:static;
  left:auto;
  width:1268px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3477 {
  position:absolute;
  left:938px;
  top:637px;
  width:330px;
  height:101px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
