body {
  margin:0px;
  background-image:url('../../images/new_page_25_6/bg.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 1080px;
  position:static;
  left:auto;
  width:1860px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3684 {
  position:absolute;
  left:1562px;
  top:814px;
  width:298px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
