body {
  margin:0px;
  background-image:url('../../images/new_page_29_4/bg.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 1200px;
  position:static;
  left:auto;
  width:1458px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5830 {
  position:absolute;
  left:844px;
  top:478px;
  width:232px;
  height:96px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5831 {
  position:absolute;
  left:1134px;
  top:312px;
  width:324px;
  height:540px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
