body {
  margin:0px;
  background-image:url('../../images/new_page_39_3/bg.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 1080px;
  position:static;
  left:auto;
  width:1912px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5405 {
  position:absolute;
  left:12px;
  top:0px;
  width:140px;
  height:92px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5406 {
  position:absolute;
  left:162px;
  top:0px;
  width:190px;
  height:92px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5407 {
  position:absolute;
  left:1434px;
  top:12px;
  width:104px;
  height:94px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5408 {
  position:absolute;
  left:1818px;
  top:12px;
  width:100px;
  height:94px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5409 {
  position:absolute;
  left:-6px;
  top:102px;
  width:164px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5410 {
  position:absolute;
  left:0px;
  top:172px;
  width:152px;
  height:64px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5411 {
  position:absolute;
  left:0px;
  top:236px;
  width:152px;
  height:74px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5412 {
  position:absolute;
  left:0px;
  top:310px;
  width:152px;
  height:76px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5413 {
  position:absolute;
  left:0px;
  top:386px;
  width:152px;
  height:68px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5414 {
  position:absolute;
  left:12px;
  top:912px;
  width:152px;
  height:76px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5415 {
  position:absolute;
  left:12px;
  top:988px;
  width:152px;
  height:94px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5416 {
  position:absolute;
  left:195px;
  top:988px;
  width:148px;
  height:82px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5417 {
  position:absolute;
  left:471px;
  top:349px;
  width:163px;
  height:91px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5418 {
  position:absolute;
  left:373px;
  top:988px;
  width:155px;
  height:82px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5419 {
  position:absolute;
  left:471px;
  top:210px;
  width:163px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5420 {
  position:absolute;
  left:692px;
  top:210px;
  width:142px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5421 {
  position:absolute;
  left:12px;
  top:810px;
  width:152px;
  height:102px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5422 {
  position:absolute;
  left:318px;
  top:692px;
  width:278px;
  height:82px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5423 {
  position:absolute;
  left:734px;
  top:692px;
  width:276px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5424 {
  position:absolute;
  left:1172px;
  top:692px;
  width:270px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5425 {
  position:absolute;
  left:1608px;
  top:692px;
  width:260px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5426 {
  position:absolute;
  left:182px;
  top:102px;
  width:148px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5427 {
  position:absolute;
  left:352px;
  top:82px;
  width:148px;
  height:80px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
