body {
  margin:0px;
  background-image:url('../../images/sample-view_samples-export/bg.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 1200px;
  position:static;
  left:auto;
  width:1428px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3373 {
  position:absolute;
  left:1124px;
  top:746px;
  width:304px;
  height:102px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
