body {
  margin:0px;
  background-image:url('../../images/new_page_33_1/bg.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 1080px;
  position:static;
  left:auto;
  width:1448px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3188 {
  position:absolute;
  left:1070px;
  top:256px;
  width:378px;
  height:524px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
