body {
  margin:0px;
  background-image:url('../../images/new_page_15_11/bg.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 1080px;
  position:static;
  left:auto;
  width:1664px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4185 {
  position:absolute;
  left:286px;
  top:158px;
  width:208px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4186 {
  position:absolute;
  left:504px;
  top:158px;
  width:176px;
  height:102px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4187 {
  position:absolute;
  left:1344px;
  top:848px;
  width:284px;
  height:102px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4188 {
  position:absolute;
  left:1574px;
  top:100px;
  width:90px;
  height:82px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
