body {
  margin:0px;
  background-image:url('../../images/new_page_11_11/bg.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 1080px;
  position:static;
  left:auto;
  width:1912px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4308 {
  position:absolute;
  left:12px;
  top:0px;
  width:140px;
  height:92px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4309 {
  position:absolute;
  left:162px;
  top:0px;
  width:190px;
  height:92px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4310 {
  position:absolute;
  left:1434px;
  top:12px;
  width:104px;
  height:94px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4311 {
  position:absolute;
  left:1818px;
  top:12px;
  width:100px;
  height:94px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4312 {
  position:absolute;
  left:-6px;
  top:102px;
  width:164px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4313 {
  position:absolute;
  left:0px;
  top:172px;
  width:152px;
  height:64px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4314 {
  position:absolute;
  left:0px;
  top:236px;
  width:152px;
  height:74px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4315 {
  position:absolute;
  left:0px;
  top:386px;
  width:152px;
  height:76px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4316 {
  position:absolute;
  left:0px;
  top:462px;
  width:152px;
  height:68px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4317 {
  position:absolute;
  left:0px;
  top:912px;
  width:152px;
  height:76px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4318 {
  position:absolute;
  left:0px;
  top:988px;
  width:152px;
  height:94px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4319 {
  position:absolute;
  left:183px;
  top:77px;
  width:148px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4320 {
  position:absolute;
  left:341px;
  top:92px;
  width:177px;
  height:75px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4321 {
  position:absolute;
  left:183px;
  top:985px;
  width:148px;
  height:97px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4322 {
  position:absolute;
  left:341px;
  top:982px;
  width:155px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4323 {
  position:absolute;
  left:506px;
  top:982px;
  width:156px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4324 {
  position:absolute;
  left:6px;
  top:810px;
  width:152px;
  height:102px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
