body {
  margin:0px;
  background-image:url('../../images/new_page_18_1/bg.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 1080px;
  position:static;
  left:auto;
  width:1666px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u597 {
  position:absolute;
  left:1304px;
  top:98px;
  width:362px;
  height:868px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
