body {
  margin:0px;
  background-image:url('../../images/sample-view_samples-manual_release-release_samples/bg.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 1200px;
  position:static;
  left:auto;
  width:1432px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3377 {
  position:absolute;
  left:1123px;
  top:740px;
  width:309px;
  height:115px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
