body {
  margin:0px;
  background-image:url('../../images/new_page_5_3/bg.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 1080px;
  position:static;
  left:auto;
  width:1454px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u757 {
  position:absolute;
  left:1070px;
  top:264px;
  width:384px;
  height:512px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u758 {
  position:absolute;
  left:470px;
  top:470px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
