body {
  margin:0px;
  background-image:url('../../images/new_page_6_6/bg.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 1080px;
  position:static;
  left:auto;
  width:1656px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1458 {
  position:absolute;
  left:1238px;
  top:100px;
  width:418px;
  height:842px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
