body {
  margin:0px;
  background-image:url('../../images/new_page_11_6/bg.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 1080px;
  position:static;
  left:auto;
  width:1474px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2020 {
  position:absolute;
  left:1132px;
  top:256px;
  width:342px;
  height:532px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
