body {
  margin:0px;
  background-image:url('../../images/new_page_35_1/bg.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 1200px;
  position:static;
  left:auto;
  width:1884px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4664 {
  position:absolute;
  left:1566px;
  top:260px;
  width:318px;
  height:680px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
