body {
  margin:0px;
  background-image:url('../../images/new_page_11_10/bg.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 1080px;
  position:static;
  left:auto;
  width:1640px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4176 {
  position:absolute;
  left:406px;
  top:164px;
  width:172px;
  height:92px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4177 {
  position:absolute;
  left:1312px;
  top:842px;
  width:328px;
  height:94px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
