body {
  margin:0px;
  background-image:url('../../images/new_page_24_8/bg.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 1200px;
  position:static;
  left:auto;
  width:1912px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4913 {
  position:absolute;
  left:12px;
  top:0px;
  width:140px;
  height:92px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4914 {
  position:absolute;
  left:162px;
  top:0px;
  width:190px;
  height:92px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4915 {
  position:absolute;
  left:1434px;
  top:12px;
  width:104px;
  height:94px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4916 {
  position:absolute;
  left:1818px;
  top:12px;
  width:100px;
  height:94px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4917 {
  position:absolute;
  left:-6px;
  top:102px;
  width:164px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4918 {
  position:absolute;
  left:0px;
  top:172px;
  width:152px;
  height:64px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4919 {
  position:absolute;
  left:0px;
  top:236px;
  width:152px;
  height:74px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4920 {
  position:absolute;
  left:0px;
  top:310px;
  width:152px;
  height:76px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4921 {
  position:absolute;
  left:0px;
  top:386px;
  width:152px;
  height:68px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4922 {
  position:absolute;
  left:0px;
  top:1032px;
  width:152px;
  height:76px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4923 {
  position:absolute;
  left:0px;
  top:1108px;
  width:152px;
  height:94px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4924 {
  position:absolute;
  left:510px;
  top:82px;
  width:160px;
  height:80px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4925 {
  position:absolute;
  left:630px;
  top:172px;
  width:242px;
  height:64px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4926 {
  position:absolute;
  left:528px;
  top:246px;
  width:200px;
  height:64px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4927 {
  position:absolute;
  left:806px;
  top:370px;
  width:228px;
  height:280px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4928 {
  position:absolute;
  left:1674px;
  top:354px;
  width:224px;
  height:322px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4929 {
  position:absolute;
  left:0px;
  top:930px;
  width:152px;
  height:102px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4930 {
  position:absolute;
  left:184px;
  top:1108px;
  width:150px;
  height:82px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4931 {
  position:absolute;
  left:352px;
  top:82px;
  width:148px;
  height:80px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
