body {
  margin:0px;
  background-image:url('../../images/new_page_4_19/bg.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 1200px;
  position:static;
  left:auto;
  width:1912px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4751 {
  position:absolute;
  left:12px;
  top:0px;
  width:140px;
  height:92px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4752 {
  position:absolute;
  left:162px;
  top:0px;
  width:190px;
  height:92px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4753 {
  position:absolute;
  left:1434px;
  top:12px;
  width:104px;
  height:94px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4754 {
  position:absolute;
  left:1818px;
  top:12px;
  width:100px;
  height:94px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4755 {
  position:absolute;
  left:-6px;
  top:102px;
  width:164px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4756 {
  position:absolute;
  left:0px;
  top:172px;
  width:152px;
  height:64px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4757 {
  position:absolute;
  left:0px;
  top:236px;
  width:152px;
  height:74px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4758 {
  position:absolute;
  left:0px;
  top:310px;
  width:152px;
  height:76px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4759 {
  position:absolute;
  left:0px;
  top:386px;
  width:152px;
  height:68px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4760 {
  position:absolute;
  left:0px;
  top:1032px;
  width:152px;
  height:76px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4761 {
  position:absolute;
  left:0px;
  top:1108px;
  width:152px;
  height:94px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4762 {
  position:absolute;
  left:510px;
  top:82px;
  width:160px;
  height:80px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4763 {
  position:absolute;
  left:198px;
  top:240px;
  width:1676px;
  height:710px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4764 {
  position:absolute;
  left:0px;
  top:920px;
  width:152px;
  height:102px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4765 {
  position:absolute;
  left:198px;
  top:1105px;
  width:441px;
  height:80px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4766 {
  position:absolute;
  left:352px;
  top:82px;
  width:148px;
  height:80px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
