body {
  margin:0px;
  background-image:url('../../images/sample-current-view_samples/bg.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 1200px;
  position:static;
  left:auto;
  width:1922px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3322 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3323 {
  position:absolute;
  left:164px;
  top:0px;
  width:180px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3324 {
  position:absolute;
  left:1438px;
  top:12px;
  width:110px;
  height:88px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3325 {
  position:absolute;
  left:1822px;
  top:6px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3326 {
  position:absolute;
  left:0px;
  top:384px;
  width:164px;
  height:62px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3327 {
  position:absolute;
  left:0px;
  top:446px;
  width:164px;
  height:92px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3328 {
  position:absolute;
  left:0px;
  top:930px;
  width:164px;
  height:94px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3329 {
  position:absolute;
  left:0px;
  top:1024px;
  width:164px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3330 {
  position:absolute;
  left:0px;
  top:1114px;
  width:164px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3331 {
  position:absolute;
  left:502px;
  top:76px;
  width:160px;
  height:98px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3332 {
  position:absolute;
  left:662px;
  top:76px;
  width:158px;
  height:98px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3333 {
  position:absolute;
  left:820px;
  top:76px;
  width:158px;
  height:98px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3334 {
  position:absolute;
  left:978px;
  top:76px;
  width:168px;
  height:98px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3335 {
  position:absolute;
  left:174px;
  top:1104px;
  width:158px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3336 {
  position:absolute;
  left:342px;
  top:1104px;
  width:152px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3337 {
  position:absolute;
  left:504px;
  top:1104px;
  width:142px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3338 {
  position:absolute;
  left:656px;
  top:1104px;
  width:152px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3339 {
  position:absolute;
  left:818px;
  top:1104px;
  width:148px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3340 {
  position:absolute;
  left:976px;
  top:1104px;
  width:158px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3341 {
  position:absolute;
  left:1460px;
  top:1104px;
  width:158px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3342 {
  position:absolute;
  left:1658px;
  top:1104px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3343 {
  position:absolute;
  left:1758px;
  top:1104px;
  width:66px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3344 {
  position:absolute;
  left:1782px;
  top:172px;
  width:104px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3345 {
  position:absolute;
  left:1782px;
  top:242px;
  width:116px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3346 {
  position:absolute;
  left:502px;
  top:174px;
  width:178px;
  height:58px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3347 {
  position:absolute;
  left:174px;
  top:100px;
  width:158px;
  height:65px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3348 {
  position:absolute;
  left:0px;
  top:178px;
  width:164px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3349 {
  position:absolute;
  left:0px;
  top:248px;
  width:152px;
  height:64px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3350 {
  position:absolute;
  left:0px;
  top:312px;
  width:152px;
  height:74px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
