body {
  margin:0px;
  background-image:url('../../images/new_page_9_3/bg.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 1080px;
  position:static;
  left:auto;
  width:1926px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u990 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:86px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u991 {
  position:absolute;
  left:162px;
  top:0px;
  width:176px;
  height:86px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u992 {
  position:absolute;
  left:1440px;
  top:18px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u993 {
  position:absolute;
  left:1826px;
  top:0px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u994 {
  position:absolute;
  left:0px;
  top:96px;
  width:152px;
  height:72px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u995 {
  position:absolute;
  left:0px;
  top:238px;
  width:152px;
  height:68px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u996 {
  position:absolute;
  left:0px;
  top:306px;
  width:152px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u997 {
  position:absolute;
  left:0px;
  top:376px;
  width:152px;
  height:68px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u998 {
  position:absolute;
  left:0px;
  top:444px;
  width:152px;
  height:74px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u999 {
  position:absolute;
  left:0px;
  top:812px;
  width:152px;
  height:98px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1000 {
  position:absolute;
  left:0px;
  top:910px;
  width:152px;
  height:82px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1001 {
  position:absolute;
  left:0px;
  top:992px;
  width:152px;
  height:88px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1002 {
  position:absolute;
  left:183px;
  top:96px;
  width:146px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1003 {
  position:absolute;
  left:506px;
  top:100px;
  width:156px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1004 {
  position:absolute;
  left:183px;
  top:986px;
  width:146px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1005 {
  position:absolute;
  left:339px;
  top:992px;
  width:149px;
  height:88px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1006 {
  position:absolute;
  left:498px;
  top:992px;
  width:148px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1007 {
  position:absolute;
  left:668px;
  top:992px;
  width:136px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1008 {
  position:absolute;
  left:830px;
  top:992px;
  width:136px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1009 {
  position:absolute;
  left:976px;
  top:992px;
  width:148px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1010 {
  position:absolute;
  left:1134px;
  top:992px;
  width:160px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1011 {
  position:absolute;
  left:1304px;
  top:992px;
  width:140px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1012 {
  position:absolute;
  left:1454px;
  top:992px;
  width:168px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1013 {
  position:absolute;
  left:1810px;
  top:992px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1014 {
  position:absolute;
  left:1810px;
  top:222px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1015 {
  position:absolute;
  left:578px;
  top:170px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
