body {
  margin:0px;
  background-image:url('../../images/new_page_37_4/bg.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 1200px;
  position:static;
  left:auto;
  width:1662px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5044 {
  position:absolute;
  left:1332px;
  top:156px;
  width:330px;
  height:848px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
