body {
  margin:0px;
  background-image:url('../../images/new_page_1_18/bg.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 1200px;
  position:static;
  left:auto;
  width:1912px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5267 {
  position:absolute;
  left:12px;
  top:0px;
  width:140px;
  height:92px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5268 {
  position:absolute;
  left:162px;
  top:0px;
  width:190px;
  height:92px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5269 {
  position:absolute;
  left:1434px;
  top:12px;
  width:104px;
  height:94px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5270 {
  position:absolute;
  left:1818px;
  top:12px;
  width:100px;
  height:94px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5271 {
  position:absolute;
  left:-6px;
  top:102px;
  width:164px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5272 {
  position:absolute;
  left:0px;
  top:172px;
  width:152px;
  height:64px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5273 {
  position:absolute;
  left:0px;
  top:236px;
  width:152px;
  height:74px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5274 {
  position:absolute;
  left:0px;
  top:310px;
  width:152px;
  height:76px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5275 {
  position:absolute;
  left:0px;
  top:386px;
  width:152px;
  height:68px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5276 {
  position:absolute;
  left:0px;
  top:1032px;
  width:152px;
  height:76px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5277 {
  position:absolute;
  left:0px;
  top:1108px;
  width:152px;
  height:94px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5278 {
  position:absolute;
  left:207px;
  top:236px;
  width:189px;
  height:150px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5279 {
  position:absolute;
  left:406px;
  top:236px;
  width:200px;
  height:150px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5280 {
  position:absolute;
  left:630px;
  top:236px;
  width:186px;
  height:150px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5281 {
  position:absolute;
  left:838px;
  top:223px;
  width:196px;
  height:163px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5282 {
  position:absolute;
  left:1044px;
  top:223px;
  width:196px;
  height:163px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5283 {
  position:absolute;
  left:1250px;
  top:223px;
  width:198px;
  height:163px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5284 {
  position:absolute;
  left:1472px;
  top:223px;
  width:190px;
  height:163px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5285 {
  position:absolute;
  left:207px;
  top:414px;
  width:189px;
  height:144px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5286 {
  position:absolute;
  left:406px;
  top:414px;
  width:200px;
  height:144px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5287 {
  position:absolute;
  left:630px;
  top:414px;
  width:186px;
  height:144px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5288 {
  position:absolute;
  left:838px;
  top:414px;
  width:196px;
  height:144px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5289 {
  position:absolute;
  left:1044px;
  top:414px;
  width:196px;
  height:144px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5290 {
  position:absolute;
  left:1268px;
  top:414px;
  width:192px;
  height:144px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5291 {
  position:absolute;
  left:1472px;
  top:414px;
  width:190px;
  height:144px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5292 {
  position:absolute;
  left:207px;
  top:588px;
  width:189px;
  height:142px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5293 {
  position:absolute;
  left:0px;
  top:930px;
  width:152px;
  height:102px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5294 {
  position:absolute;
  left:182px;
  top:102px;
  width:148px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5295 {
  position:absolute;
  left:352px;
  top:82px;
  width:148px;
  height:80px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
