body {
  margin:0px;
  background-image:url('../../images/sample-view_tests-rerun-predilution_on/bg.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 1200px;
  position:static;
  left:auto;
  width:1648px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3451 {
  position:absolute;
  left:1315px;
  top:906px;
  width:333px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
