body {
  margin:0px;
  background-image:url('../../images/new_page_43_3/bg.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 1200px;
  position:static;
  left:auto;
  width:1679px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5096 {
  position:absolute;
  left:1333px;
  top:161px;
  width:346px;
  height:833px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
