body {
  margin:0px;
  background-image:url('../../images/概览/bg.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 1080px;
  position:static;
  left:auto;
  width:1799px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4 {
  position:absolute;
  left:1554px;
  top:964px;
  width:245px;
  height:89px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5 {
  position:absolute;
  left:364px;
  top:480px;
  width:218px;
  height:115px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6 {
  position:absolute;
  left:784px;
  top:480px;
  width:237px;
  height:106px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7 {
  position:absolute;
  left:364px;
  top:630px;
  width:218px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8 {
  position:absolute;
  left:784px;
  top:638px;
  width:257px;
  height:92px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u9 {
  position:absolute;
  left:364px;
  top:762px;
  width:214px;
  height:112px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u10 {
  position:absolute;
  left:784px;
  top:762px;
  width:237px;
  height:112px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u11 {
  position:absolute;
  left:1471px;
  top:329px;
  width:311px;
  height:109px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12 {
  position:absolute;
  left:1482px;
  top:575px;
  width:300px;
  height:114px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u13_div {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:60px;
  background:inherit;
  background-color:rgba(67, 67, 67, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:60px;
}
#u14 {
  position:absolute;
  left:2px;
  top:14px;
  width:154px;
  word-wrap:break-word;
}
