body {
  margin:0px;
  background-image:url('../../images/new_page_12_4/bg.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 1080px;
  position:static;
  left:auto;
  width:1646px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1279 {
  position:absolute;
  left:1310px;
  top:104px;
  width:336px;
  height:824px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1280 {
  position:absolute;
  left:394px;
  top:162px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
