body {
  margin:0px;
  background-image:url('../../images/new_page_43/bg.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 1080px;
  position:static;
  left:auto;
  width:1878px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1899 {
  position:absolute;
  left:1540px;
  top:252px;
  width:338px;
  height:670px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
