body {
  margin:0px;
  background-image:url('../../images/sample-view_tests-print/bg.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 1200px;
  position:static;
  left:auto;
  width:1414px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3448 {
  position:absolute;
  left:1100px;
  top:754px;
  width:314px;
  height:86px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
