body {
  margin:0px;
  background-image:url('../../images/new_page_10_8/bg.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 1080px;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3530 {
  position:absolute;
  left:1812px;
  top:232px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3531 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3532 {
  position:absolute;
  left:164px;
  top:0px;
  width:178px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3533 {
  position:absolute;
  left:1440px;
  top:12px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3534 {
  position:absolute;
  left:1820px;
  top:12px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3535 {
  position:absolute;
  left:0px;
  top:172px;
  width:154px;
  height:74px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3536 {
  position:absolute;
  left:0px;
  top:246px;
  width:154px;
  height:68px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3537 {
  position:absolute;
  left:0px;
  top:314px;
  width:154px;
  height:72px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3538 {
  position:absolute;
  left:0px;
  top:386px;
  width:154px;
  height:64px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3539 {
  position:absolute;
  left:0px;
  top:450px;
  width:154px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3540 {
  position:absolute;
  left:0px;
  top:810px;
  width:154px;
  height:94px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3541 {
  position:absolute;
  left:0px;
  top:914px;
  width:154px;
  height:78px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3542 {
  position:absolute;
  left:0px;
  top:1002px;
  width:154px;
  height:84px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3543 {
  position:absolute;
  left:180px;
  top:90px;
  width:150px;
  height:80px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3544 {
  position:absolute;
  left:352px;
  top:80px;
  width:134px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3545 {
  position:absolute;
  left:660px;
  top:80px;
  width:154px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3546 {
  position:absolute;
  left:836px;
  top:90px;
  width:134px;
  height:80px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3547 {
  position:absolute;
  left:980px;
  top:80px;
  width:158px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3548 {
  position:absolute;
  left:180px;
  top:986px;
  width:162px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3549 {
  position:absolute;
  left:352px;
  top:994px;
  width:134px;
  height:92px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3550 {
  position:absolute;
  left:496px;
  top:990px;
  width:154px;
  height:96px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3551 {
  position:absolute;
  left:660px;
  top:986px;
  width:154px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3552 {
  position:absolute;
  left:824px;
  top:986px;
  width:146px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3553 {
  position:absolute;
  left:980px;
  top:986px;
  width:158px;
  height:86px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3554 {
  position:absolute;
  left:1658px;
  top:979px;
  width:88px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3555 {
  position:absolute;
  left:1756px;
  top:986px;
  width:76px;
  height:93px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3556 {
  position:absolute;
  left:512px;
  top:180px;
  width:160px;
  height:66px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3557 {
  position:absolute;
  left:687px;
  top:180px;
  width:225px;
  height:55px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
