body {
  margin:0px;
  background-image:url('../../images/new_page_12_15/bg.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 1200px;
  position:static;
  left:auto;
  width:1652px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5899 {
  position:absolute;
  left:1476px;
  top:142px;
  width:176px;
  height:852px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5900 {
  position:absolute;
  left:278px;
  top:230px;
  width:168px;
  height:92px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5901 {
  position:absolute;
  left:676px;
  top:230px;
  width:210px;
  height:92px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5902 {
  position:absolute;
  left:896px;
  top:222px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
