body {
  margin:0px;
  background-image:url('../../images/new_page_8_10/bg.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 1080px;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3863 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3864 {
  position:absolute;
  left:164px;
  top:0px;
  width:178px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3865 {
  position:absolute;
  left:1440px;
  top:12px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3866 {
  position:absolute;
  left:0px;
  top:172px;
  width:154px;
  height:74px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3867 {
  position:absolute;
  left:0px;
  top:246px;
  width:154px;
  height:68px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3868 {
  position:absolute;
  left:0px;
  top:314px;
  width:154px;
  height:72px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3869 {
  position:absolute;
  left:0px;
  top:386px;
  width:154px;
  height:64px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3870 {
  position:absolute;
  left:0px;
  top:450px;
  width:154px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3871 {
  position:absolute;
  left:0px;
  top:818px;
  width:154px;
  height:71px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3872 {
  position:absolute;
  left:0px;
  top:899px;
  width:154px;
  height:78px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3873 {
  position:absolute;
  left:0px;
  top:987px;
  width:154px;
  height:84px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3874 {
  position:absolute;
  left:180px;
  top:90px;
  width:150px;
  height:80px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3875 {
  position:absolute;
  left:352px;
  top:80px;
  width:134px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3876 {
  position:absolute;
  left:660px;
  top:80px;
  width:154px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3877 {
  position:absolute;
  left:824px;
  top:80px;
  width:158px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3878 {
  position:absolute;
  left:1820px;
  top:12px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3879 {
  position:absolute;
  left:496px;
  top:75px;
  width:154px;
  height:95px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3880 {
  position:absolute;
  left:496px;
  top:170px;
  width:132px;
  height:76px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3881 {
  position:absolute;
  left:638px;
  top:170px;
  width:186px;
  height:76px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3882 {
  position:absolute;
  left:834px;
  top:170px;
  width:200px;
  height:76px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3883 {
  position:absolute;
  left:354px;
  top:170px;
  width:132px;
  height:76px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3884 {
  position:absolute;
  left:1034px;
  top:170px;
  width:142px;
  height:76px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3885 {
  position:absolute;
  left:1794px;
  top:158px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
