body {
  margin:0px;
  background-image:url('../../images/new_page_6_19/bg.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 1200px;
  position:static;
  left:auto;
  width:1448px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5704 {
  position:absolute;
  left:1286px;
  top:306px;
  width:162px;
  height:540px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
