body {
  margin:0px;
  background-image:url('../../images/new_page_15_8/bg.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 1203px;
  position:static;
  left:auto;
  width:1648px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3256 {
  position:absolute;
  left:1286px;
  top:156px;
  width:362px;
  height:818px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3257 {
  position:absolute;
  left:414px;
  top:220px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3258 {
  position:absolute;
  left:556px;
  top:220px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3259 {
  position:absolute;
  left:286px;
  top:234px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
