body {
  margin:0px;
  background-image:url('../../images/new_page_60/bg.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 1080px;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2510 {
  position:absolute;
  left:1018px;
  top:286px;
  width:348px;
  height:530px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
