body {
  margin:0px;
  background-image:url('../../images/new_page_9_10/bg.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 1080px;
  position:static;
  left:auto;
  width:1422px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3529 {
  position:absolute;
  left:1138px;
  top:691px;
  width:284px;
  height:91px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
