body {
  margin:0px;
  background-image:url('../../images/new_page_16_9/bg.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 1200px;
  position:static;
  left:auto;
  width:1912px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4445 {
  position:absolute;
  left:12px;
  top:0px;
  width:140px;
  height:92px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4446 {
  position:absolute;
  left:162px;
  top:0px;
  width:190px;
  height:92px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4447 {
  position:absolute;
  left:1434px;
  top:12px;
  width:104px;
  height:94px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4448 {
  position:absolute;
  left:1818px;
  top:12px;
  width:100px;
  height:94px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4449 {
  position:absolute;
  left:-6px;
  top:102px;
  width:164px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4450 {
  position:absolute;
  left:0px;
  top:172px;
  width:152px;
  height:64px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4451 {
  position:absolute;
  left:0px;
  top:236px;
  width:152px;
  height:74px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4452 {
  position:absolute;
  left:0px;
  top:310px;
  width:152px;
  height:76px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4453 {
  position:absolute;
  left:0px;
  top:462px;
  width:152px;
  height:68px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4454 {
  position:absolute;
  left:0px;
  top:1032px;
  width:152px;
  height:76px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4455 {
  position:absolute;
  left:0px;
  top:1108px;
  width:152px;
  height:94px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4456 {
  position:absolute;
  left:174px;
  top:82px;
  width:166px;
  height:80px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4457 {
  position:absolute;
  left:528px;
  top:82px;
  width:150px;
  height:80px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4458 {
  position:absolute;
  left:688px;
  top:82px;
  width:146px;
  height:80px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4459 {
  position:absolute;
  left:844px;
  top:82px;
  width:162px;
  height:80px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4460 {
  position:absolute;
  left:182px;
  top:1123px;
  width:146px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4461 {
  position:absolute;
  left:338px;
  top:1120px;
  width:160px;
  height:64px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4462 {
  position:absolute;
  left:450px;
  top:172px;
  width:130px;
  height:76px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4463 {
  position:absolute;
  left:718px;
  top:172px;
  width:116px;
  height:76px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4464 {
  position:absolute;
  left:844px;
  top:172px;
  width:134px;
  height:64px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4465 {
  position:absolute;
  left:1000px;
  top:172px;
  width:148px;
  height:64px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4466 {
  position:absolute;
  left:1158px;
  top:160px;
  width:122px;
  height:88px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4467 {
  position:absolute;
  left:508px;
  top:1120px;
  width:146px;
  height:64px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4468 {
  position:absolute;
  left:0px;
  top:920px;
  width:152px;
  height:102px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
