body {
  margin:0px;
  background-image:url('../../images/new_page_17_7/bg.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 1080px;
  position:static;
  left:auto;
  width:1406px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4007 {
  position:absolute;
  left:1140px;
  top:680px;
  width:266px;
  height:120px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
