body {
  margin:0px;
  background-image:url('../../images/new_page_35/bg.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 1080px;
  position:static;
  left:auto;
  width:1926px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3113 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:86px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3114 {
  position:absolute;
  left:162px;
  top:0px;
  width:176px;
  height:86px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3115 {
  position:absolute;
  left:0px;
  top:96px;
  width:152px;
  height:72px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3116 {
  position:absolute;
  left:0px;
  top:238px;
  width:152px;
  height:68px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3117 {
  position:absolute;
  left:0px;
  top:168px;
  width:152px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3118 {
  position:absolute;
  left:0px;
  top:306px;
  width:152px;
  height:68px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3119 {
  position:absolute;
  left:0px;
  top:374px;
  width:152px;
  height:74px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3120 {
  position:absolute;
  left:0px;
  top:812px;
  width:152px;
  height:98px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3121 {
  position:absolute;
  left:0px;
  top:910px;
  width:152px;
  height:82px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3122 {
  position:absolute;
  left:0px;
  top:992px;
  width:152px;
  height:88px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3123 {
  position:absolute;
  left:1440px;
  top:18px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3124 {
  position:absolute;
  left:1826px;
  top:0px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3125 {
  position:absolute;
  left:190px;
  top:86px;
  width:148px;
  height:82px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3126 {
  position:absolute;
  left:338px;
  top:77px;
  width:159px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3127 {
  position:absolute;
  left:190px;
  top:980px;
  width:160px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3128 {
  position:absolute;
  left:360px;
  top:992px;
  width:152px;
  height:88px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
