body {
  margin:0px;
  background-image:url('../../images/new_page_14_11/bg.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 1080px;
  position:static;
  left:auto;
  width:1632px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4182 {
  position:absolute;
  left:292px;
  top:162px;
  width:194px;
  height:92px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4183 {
  position:absolute;
  left:696px;
  top:162px;
  width:198px;
  height:92px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4184 {
  position:absolute;
  left:1336px;
  top:836px;
  width:296px;
  height:112px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
