body {
  margin:0px;
  background-image:url('../../images/new_page_8_8/bg.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 1080px;
  position:static;
  left:auto;
  width:1926px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3069 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:86px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3070 {
  position:absolute;
  left:162px;
  top:0px;
  width:176px;
  height:86px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3071 {
  position:absolute;
  left:0px;
  top:96px;
  width:152px;
  height:72px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3072 {
  position:absolute;
  left:0px;
  top:238px;
  width:152px;
  height:68px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3073 {
  position:absolute;
  left:0px;
  top:168px;
  width:152px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3074 {
  position:absolute;
  left:0px;
  top:306px;
  width:152px;
  height:68px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3075 {
  position:absolute;
  left:0px;
  top:374px;
  width:152px;
  height:74px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3076 {
  position:absolute;
  left:0px;
  top:812px;
  width:152px;
  height:98px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3077 {
  position:absolute;
  left:0px;
  top:910px;
  width:152px;
  height:82px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3078 {
  position:absolute;
  left:0px;
  top:992px;
  width:152px;
  height:88px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3079 {
  position:absolute;
  left:1440px;
  top:18px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3080 {
  position:absolute;
  left:1826px;
  top:0px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3081 {
  position:absolute;
  left:190px;
  top:86px;
  width:148px;
  height:82px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3082 {
  position:absolute;
  left:338px;
  top:77px;
  width:159px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3083 {
  position:absolute;
  left:190px;
  top:980px;
  width:138px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3084 {
  position:absolute;
  left:350px;
  top:980px;
  width:170px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3085 {
  position:absolute;
  left:272px;
  top:222px;
  width:152px;
  height:84px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3086 {
  position:absolute;
  left:456px;
  top:210px;
  width:170px;
  height:84px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
