body {
  margin:0px;
  background-image:url('../../images/new_page_17_6/bg.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 1080px;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3590 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3591 {
  position:absolute;
  left:164px;
  top:0px;
  width:178px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3592 {
  position:absolute;
  left:1440px;
  top:12px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3593 {
  position:absolute;
  left:1820px;
  top:12px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3594 {
  position:absolute;
  left:0px;
  top:172px;
  width:154px;
  height:74px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3595 {
  position:absolute;
  left:0px;
  top:246px;
  width:154px;
  height:68px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3596 {
  position:absolute;
  left:0px;
  top:314px;
  width:154px;
  height:72px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3597 {
  position:absolute;
  left:0px;
  top:386px;
  width:154px;
  height:64px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3598 {
  position:absolute;
  left:0px;
  top:450px;
  width:154px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3599 {
  position:absolute;
  left:0px;
  top:810px;
  width:154px;
  height:94px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3600 {
  position:absolute;
  left:0px;
  top:914px;
  width:154px;
  height:78px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3601 {
  position:absolute;
  left:0px;
  top:1002px;
  width:154px;
  height:84px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3602 {
  position:absolute;
  left:180px;
  top:90px;
  width:150px;
  height:80px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3603 {
  position:absolute;
  left:352px;
  top:80px;
  width:134px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3604 {
  position:absolute;
  left:660px;
  top:80px;
  width:154px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3605 {
  position:absolute;
  left:836px;
  top:90px;
  width:134px;
  height:80px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3606 {
  position:absolute;
  left:980px;
  top:80px;
  width:158px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3607 {
  position:absolute;
  left:172px;
  top:986px;
  width:170px;
  height:91px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
