body {
  margin:0px;
  background-image:url('../../images/new_page_1_7/bg.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 1080px;
  position:static;
  left:auto;
  width:1926px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2543 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:86px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2544 {
  position:absolute;
  left:162px;
  top:0px;
  width:176px;
  height:86px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2545 {
  position:absolute;
  left:0px;
  top:96px;
  width:152px;
  height:72px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2546 {
  position:absolute;
  left:0px;
  top:238px;
  width:152px;
  height:68px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2547 {
  position:absolute;
  left:0px;
  top:168px;
  width:152px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2548 {
  position:absolute;
  left:0px;
  top:306px;
  width:152px;
  height:68px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2549 {
  position:absolute;
  left:0px;
  top:374px;
  width:152px;
  height:74px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2550 {
  position:absolute;
  left:0px;
  top:812px;
  width:152px;
  height:98px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2551 {
  position:absolute;
  left:0px;
  top:910px;
  width:152px;
  height:82px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2552 {
  position:absolute;
  left:0px;
  top:992px;
  width:152px;
  height:88px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2553 {
  position:absolute;
  left:1440px;
  top:18px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2554 {
  position:absolute;
  left:1826px;
  top:0px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2555 {
  position:absolute;
  left:190px;
  top:86px;
  width:148px;
  height:82px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2556 {
  position:absolute;
  left:338px;
  top:77px;
  width:159px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2557 {
  position:absolute;
  left:200px;
  top:222px;
  width:192px;
  height:152px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2558 {
  position:absolute;
  left:402px;
  top:222px;
  width:204px;
  height:152px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2559 {
  position:absolute;
  left:616px;
  top:222px;
  width:202px;
  height:152px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2560 {
  position:absolute;
  left:828px;
  top:222px;
  width:202px;
  height:152px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2561 {
  position:absolute;
  left:1040px;
  top:222px;
  width:204px;
  height:152px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2562 {
  position:absolute;
  left:1254px;
  top:222px;
  width:198px;
  height:152px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2563 {
  position:absolute;
  left:1462px;
  top:222px;
  width:212px;
  height:152px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2564 {
  position:absolute;
  left:200px;
  top:408px;
  width:192px;
  height:152px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2565 {
  position:absolute;
  left:402px;
  top:408px;
  width:204px;
  height:152px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2566 {
  position:absolute;
  left:616px;
  top:408px;
  width:202px;
  height:152px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2567 {
  position:absolute;
  left:828px;
  top:408px;
  width:202px;
  height:152px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2568 {
  position:absolute;
  left:1040px;
  top:408px;
  width:204px;
  height:152px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2569 {
  position:absolute;
  left:1254px;
  top:408px;
  width:198px;
  height:152px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2570 {
  position:absolute;
  left:1474px;
  top:408px;
  width:188px;
  height:152px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2571 {
  position:absolute;
  left:200px;
  top:584px;
  width:192px;
  height:144px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2572 {
  position:absolute;
  left:402px;
  top:584px;
  width:204px;
  height:144px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
