body {
  margin:0px;
  background-image:url('../../images/new_page_15_2/bg.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 1080px;
  position:static;
  left:auto;
  width:1878px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u547 {
  position:absolute;
  left:1538px;
  top:244px;
  width:340px;
  height:654px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
