body {
  margin:0px;
  background-image:url('../../images/new_page_14_10/bg.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 1080px;
  position:static;
  left:auto;
  width:1262px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3963 {
  position:absolute;
  left:964px;
  top:638px;
  width:298px;
  height:88px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
