body {
  margin:0px;
  background-image:url('../../images/new_page_31/bg.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 1080px;
  position:static;
  left:auto;
  width:1904px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u677 {
  position:absolute;
  left:1483px;
  top:241px;
  width:421px;
  height:673px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
