body {
  margin:0px;
  background-image:url('../../images/sample-s_orders-options/bg.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 1200px;
  position:static;
  left:auto;
  width:1640px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3317 {
  position:absolute;
  left:1329px;
  top:909px;
  width:311px;
  height:97px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
