body {
  margin:0px;
  background-image:url('../../images/alarm/bg.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 1200px;
  position:static;
  left:auto;
  width:1916px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5865 {
  position:absolute;
  left:1814px;
  top:82px;
  width:102px;
  height:94px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5866 {
  position:absolute;
  left:1182px;
  top:238px;
  width:734px;
  height:924px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5867 {
  position:absolute;
  left:1225px;
  top:76px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5868 {
  position:absolute;
  left:1643px;
  top:76px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
