body {
  margin:0px;
  background-image:url('../../images/new_page_9_15/bg.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 1200px;
  position:static;
  left:auto;
  width:1660px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4775 {
  position:absolute;
  left:1068px;
  top:902px;
  width:126px;
  height:96px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4776 {
  position:absolute;
  left:1492px;
  top:164px;
  width:168px;
  height:820px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4777 {
  position:absolute;
  left:302px;
  top:266px;
  width:148px;
  height:52px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4778 {
  position:absolute;
  left:1352px;
  top:902px;
  width:130px;
  height:96px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
