body {
  margin:0px;
  background-image:url('../../images/new_page_45_1/bg.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 1080px;
  position:static;
  left:auto;
  width:1926px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2397 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:86px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2398 {
  position:absolute;
  left:162px;
  top:0px;
  width:176px;
  height:86px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2399 {
  position:absolute;
  left:0px;
  top:96px;
  width:152px;
  height:72px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2400 {
  position:absolute;
  left:0px;
  top:238px;
  width:152px;
  height:68px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2401 {
  position:absolute;
  left:0px;
  top:168px;
  width:152px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2402 {
  position:absolute;
  left:0px;
  top:306px;
  width:152px;
  height:68px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2403 {
  position:absolute;
  left:0px;
  top:374px;
  width:152px;
  height:74px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2404 {
  position:absolute;
  left:0px;
  top:812px;
  width:152px;
  height:98px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2405 {
  position:absolute;
  left:0px;
  top:910px;
  width:152px;
  height:82px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2406 {
  position:absolute;
  left:0px;
  top:992px;
  width:152px;
  height:88px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2407 {
  position:absolute;
  left:1440px;
  top:18px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2408 {
  position:absolute;
  left:1826px;
  top:0px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2409 {
  position:absolute;
  left:348px;
  top:68px;
  width:148px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2410 {
  position:absolute;
  left:506px;
  top:68px;
  width:159px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2411 {
  position:absolute;
  left:176px;
  top:986px;
  width:162px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2412 {
  position:absolute;
  left:430px;
  top:178px;
  width:184px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2413 {
  position:absolute;
  left:614px;
  top:178px;
  width:186px;
  height:65px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2414 {
  position:absolute;
  left:828px;
  top:178px;
  width:144px;
  height:65px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2415 {
  position:absolute;
  left:1166px;
  top:173px;
  width:178px;
  height:65px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
