body {
  margin:0px;
  background-image:url('../../images/new_page_3_15/bg.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 1080px;
  position:static;
  left:auto;
  width:1644px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3905 {
  position:absolute;
  left:1502px;
  top:838px;
  width:142px;
  height:112px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
