body {
  margin:0px;
  background-image:url('../../images/new_page_16_6/bg.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 1080px;
  position:static;
  left:auto;
  width:1269px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3589 {
  position:absolute;
  left:957px;
  top:638px;
  width:312px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
