body {
  margin:0px;
  background-image:url('../../images/sample-view_samples-view_tests/bg.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 1200px;
  position:static;
  left:auto;
  width:1916px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3406 {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:94px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3407 {
  position:absolute;
  left:156px;
  top:0px;
  width:178px;
  height:94px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3408 {
  position:absolute;
  left:0px;
  top:380px;
  width:146px;
  height:80px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3409 {
  position:absolute;
  left:0px;
  top:460px;
  width:146px;
  height:72px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3410 {
  position:absolute;
  left:0px;
  top:924px;
  width:158px;
  height:102px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3411 {
  position:absolute;
  left:0px;
  top:1026px;
  width:158px;
  height:82px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3412 {
  position:absolute;
  left:0px;
  top:1108px;
  width:158px;
  height:86px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3413 {
  position:absolute;
  left:178px;
  top:82px;
  width:156px;
  height:84px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3414 {
  position:absolute;
  left:510px;
  top:74px;
  width:148px;
  height:92px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3415 {
  position:absolute;
  left:668px;
  top:74px;
  width:148px;
  height:92px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3416 {
  position:absolute;
  left:816px;
  top:74px;
  width:168px;
  height:106px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3417 {
  position:absolute;
  left:994px;
  top:74px;
  width:144px;
  height:106px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3418 {
  position:absolute;
  left:302px;
  top:166px;
  width:180px;
  height:74px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3419 {
  position:absolute;
  left:178px;
  top:1108px;
  width:156px;
  height:86px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3420 {
  position:absolute;
  left:668px;
  top:1108px;
  width:148px;
  height:86px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3421 {
  position:absolute;
  left:826px;
  top:1108px;
  width:158px;
  height:86px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3422 {
  position:absolute;
  left:1776px;
  top:166px;
  width:120px;
  height:74px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3423 {
  position:absolute;
  left:1776px;
  top:240px;
  width:120px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3424 {
  position:absolute;
  left:1816px;
  top:1108px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3425 {
  position:absolute;
  left:0px;
  top:178px;
  width:164px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3426 {
  position:absolute;
  left:0px;
  top:248px;
  width:152px;
  height:64px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3427 {
  position:absolute;
  left:0px;
  top:312px;
  width:152px;
  height:74px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
