body {
  margin:0px;
  background-image:url('../../images/new_page_7_14/bg.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 1080px;
  position:static;
  left:auto;
  width:1337px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4272 {
  position:absolute;
  left:1006px;
  top:277px;
  width:331px;
  height:500px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
