body {
  margin:0px;
  background-image:url('../../images/new_page_41/bg.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 1080px;
  position:static;
  left:auto;
  width:1880px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1881 {
  position:absolute;
  left:1540px;
  top:249px;
  width:340px;
  height:665px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
