body {
  margin:0px;
  background-image:url('../../images/new_page_46_2/bg.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 1080px;
  position:static;
  left:auto;
  width:1912px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4683 {
  position:absolute;
  left:12px;
  top:0px;
  width:140px;
  height:92px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4684 {
  position:absolute;
  left:162px;
  top:0px;
  width:190px;
  height:92px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4685 {
  position:absolute;
  left:1434px;
  top:12px;
  width:104px;
  height:94px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4686 {
  position:absolute;
  left:1818px;
  top:12px;
  width:100px;
  height:94px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4687 {
  position:absolute;
  left:-6px;
  top:102px;
  width:164px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4688 {
  position:absolute;
  left:0px;
  top:172px;
  width:152px;
  height:64px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4689 {
  position:absolute;
  left:0px;
  top:236px;
  width:152px;
  height:74px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4690 {
  position:absolute;
  left:0px;
  top:310px;
  width:152px;
  height:76px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4691 {
  position:absolute;
  left:0px;
  top:386px;
  width:152px;
  height:68px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4692 {
  position:absolute;
  left:0px;
  top:808px;
  width:152px;
  height:102px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4693 {
  position:absolute;
  left:0px;
  top:910px;
  width:152px;
  height:76px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4694 {
  position:absolute;
  left:0px;
  top:986px;
  width:152px;
  height:94px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4695 {
  position:absolute;
  left:352px;
  top:82px;
  width:148px;
  height:80px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4696 {
  position:absolute;
  left:510px;
  top:82px;
  width:160px;
  height:80px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4697 {
  position:absolute;
  left:207px;
  top:210px;
  width:185px;
  height:160px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4698 {
  position:absolute;
  left:402px;
  top:223px;
  width:210px;
  height:147px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4699 {
  position:absolute;
  left:622px;
  top:223px;
  width:196px;
  height:147px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4700 {
  position:absolute;
  left:828px;
  top:223px;
  width:204px;
  height:147px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4701 {
  position:absolute;
  left:1042px;
  top:223px;
  width:206px;
  height:147px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4702 {
  position:absolute;
  left:1258px;
  top:223px;
  width:198px;
  height:147px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4703 {
  position:absolute;
  left:1466px;
  top:223px;
  width:202px;
  height:147px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4704 {
  position:absolute;
  left:207px;
  top:406px;
  width:185px;
  height:140px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4705 {
  position:absolute;
  left:402px;
  top:406px;
  width:194px;
  height:140px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4706 {
  position:absolute;
  left:622px;
  top:406px;
  width:196px;
  height:140px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
