body {
  margin:0px;
  background-image:url('../../images/new_page_24_4/bg.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 1080px;
  position:static;
  left:auto;
  width:1624px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1727 {
  position:absolute;
  left:1242px;
  top:126px;
  width:382px;
  height:798px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1728 {
  position:absolute;
  left:516px;
  top:182px;
  width:200px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
