body {
  margin:0px;
  background-image:url('../../images/new_page_15_3/bg.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 1080px;
  position:static;
  left:auto;
  width:1656px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1046 {
  position:absolute;
  left:1286px;
  top:110px;
  width:370px;
  height:822px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
