body {
  margin:0px;
  background-image:url('../../images/new_page_42_2/bg.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 1200px;
  position:static;
  left:auto;
  width:1324px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5095 {
  position:absolute;
  left:976px;
  top:364px;
  width:348px;
  height:426px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
