body {
  margin:0px;
  background-image:url('../../images/new_page_16_11/bg.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 1200px;
  position:static;
  left:auto;
  width:1362px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5766 {
  position:absolute;
  left:1026px;
  top:332px;
  width:336px;
  height:486px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
