body {
  margin:0px;
  background-image:url('../../images/new_page_6_17/bg.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 1200px;
  position:static;
  left:auto;
  width:1634px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4768 {
  position:absolute;
  left:1060px;
  top:906px;
  width:138px;
  height:96px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4769 {
  position:absolute;
  left:1208px;
  top:902px;
  width:142px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4770 {
  position:absolute;
  left:1360px;
  top:154px;
  width:274px;
  height:834px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
