body {
  margin:0px;
  background-image:url('../../images/new_page_10_14/bg.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 1080px;
  position:static;
  left:auto;
  width:1912px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5236 {
  position:absolute;
  left:12px;
  top:0px;
  width:140px;
  height:92px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5237 {
  position:absolute;
  left:162px;
  top:0px;
  width:190px;
  height:68px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5238 {
  position:absolute;
  left:1434px;
  top:12px;
  width:104px;
  height:94px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5239 {
  position:absolute;
  left:1818px;
  top:12px;
  width:100px;
  height:94px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5240 {
  position:absolute;
  left:-6px;
  top:102px;
  width:164px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5241 {
  position:absolute;
  left:0px;
  top:172px;
  width:152px;
  height:64px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5242 {
  position:absolute;
  left:0px;
  top:236px;
  width:152px;
  height:74px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5243 {
  position:absolute;
  left:0px;
  top:310px;
  width:152px;
  height:76px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5244 {
  position:absolute;
  left:0px;
  top:386px;
  width:152px;
  height:68px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5245 {
  position:absolute;
  left:12px;
  top:916px;
  width:152px;
  height:76px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5246 {
  position:absolute;
  left:12px;
  top:992px;
  width:152px;
  height:94px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5247 {
  position:absolute;
  left:510px;
  top:82px;
  width:160px;
  height:80px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5248 {
  position:absolute;
  left:196px;
  top:236px;
  width:198px;
  height:150px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5249 {
  position:absolute;
  left:404px;
  top:236px;
  width:210px;
  height:150px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5250 {
  position:absolute;
  left:196px;
  top:434px;
  width:198px;
  height:166px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5251 {
  position:absolute;
  left:404px;
  top:434px;
  width:198px;
  height:166px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5252 {
  position:absolute;
  left:612px;
  top:434px;
  width:206px;
  height:166px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5253 {
  position:absolute;
  left:828px;
  top:434px;
  width:204px;
  height:166px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5254 {
  position:absolute;
  left:1042px;
  top:434px;
  width:202px;
  height:166px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5255 {
  position:absolute;
  left:12px;
  top:814px;
  width:152px;
  height:102px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5256 {
  position:absolute;
  left:182px;
  top:102px;
  width:148px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
