body {
  margin:0px;
  background-image:url('../../images/new_page_9/bg.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 1080px;
  position:static;
  left:auto;
  width:1648px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u225 {
  position:absolute;
  left:1342px;
  top:106px;
  width:306px;
  height:828px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u226 {
  position:absolute;
  left:556px;
  top:284px;
  width:220px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u227 {
  position:absolute;
  left:556px;
  top:354px;
  width:198px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
