body {
  margin:0px;
  background-image:url('../../images/new_page_3_13/bg.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 1080px;
  position:static;
  left:auto;
  width:1277px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3743 {
  position:absolute;
  left:960px;
  top:632px;
  width:317px;
  height:106px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
