body {
  margin:0px;
  background-image:url('../../images/new_page_18_6/bg.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 1080px;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3130 {
  position:absolute;
  left:1030px;
  top:314px;
  width:250px;
  height:418px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3131 {
  position:absolute;
  left:850px;
  top:458px;
  width:156px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
