body {
  margin:0px;
  background-image:url('../../images/new_page_32_6/bg.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 1200px;
  position:static;
  left:auto;
  width:1320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5849 {
  position:absolute;
  left:1082px;
  top:364px;
  width:238px;
  height:72px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5850 {
  position:absolute;
  left:970px;
  top:706px;
  width:298px;
  height:66px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5851 {
  position:absolute;
  left:758px;
  top:530px;
  width:132px;
  height:72px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5852 {
  position:absolute;
  left:758px;
  top:612px;
  width:132px;
  height:68px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
