body {
  margin:0px;
  background-image:url('../../images/new_page_10_12/bg.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 1200px;
  position:static;
  left:auto;
  width:1278px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4398 {
  position:absolute;
  left:972px;
  top:380px;
  width:306px;
  height:406px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
