body {
  margin:0px;
  background-image:url('../../images/sample-view_tests-rerun/bg.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 1200px;
  position:static;
  left:auto;
  width:1650px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3449 {
  position:absolute;
  left:1326px;
  top:902px;
  width:324px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3450 {
  position:absolute;
  left:586px;
  top:278px;
  width:214px;
  height:92px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
