body {
  margin:0px;
  background-image:url('../../images/new_page_5_13/bg.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 1200px;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3837 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3838 {
  position:absolute;
  left:164px;
  top:0px;
  width:178px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3839 {
  position:absolute;
  left:1440px;
  top:12px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3840 {
  position:absolute;
  left:0px;
  top:172px;
  width:154px;
  height:74px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3841 {
  position:absolute;
  left:0px;
  top:246px;
  width:154px;
  height:68px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3842 {
  position:absolute;
  left:0px;
  top:314px;
  width:154px;
  height:72px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3843 {
  position:absolute;
  left:0px;
  top:386px;
  width:154px;
  height:64px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3844 {
  position:absolute;
  left:0px;
  top:450px;
  width:154px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3845 {
  position:absolute;
  left:0px;
  top:940px;
  width:154px;
  height:71px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3846 {
  position:absolute;
  left:0px;
  top:1021px;
  width:154px;
  height:78px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3847 {
  position:absolute;
  left:0px;
  top:1109px;
  width:154px;
  height:84px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3848 {
  position:absolute;
  left:180px;
  top:90px;
  width:150px;
  height:80px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3849 {
  position:absolute;
  left:352px;
  top:80px;
  width:134px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3850 {
  position:absolute;
  left:660px;
  top:80px;
  width:154px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3851 {
  position:absolute;
  left:824px;
  top:80px;
  width:158px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3852 {
  position:absolute;
  left:1820px;
  top:12px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3853 {
  position:absolute;
  left:496px;
  top:75px;
  width:154px;
  height:95px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3854 {
  position:absolute;
  left:496px;
  top:170px;
  width:132px;
  height:76px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3855 {
  position:absolute;
  left:638px;
  top:170px;
  width:186px;
  height:76px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3856 {
  position:absolute;
  left:834px;
  top:170px;
  width:200px;
  height:76px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3857 {
  position:absolute;
  left:354px;
  top:170px;
  width:132px;
  height:76px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3858 {
  position:absolute;
  left:1166px;
  top:170px;
  width:182px;
  height:76px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3859 {
  position:absolute;
  left:1794px;
  top:158px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3860 {
  position:absolute;
  left:180px;
  top:1101px;
  width:174px;
  height:92px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
