body {
  margin:0px;
  background-image:url('../../images/new_page_35_3/bg.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 1080px;
  position:static;
  left:auto;
  width:1282px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5857 {
  position:absolute;
  left:1182px;
  top:308px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5858 {
  position:absolute;
  left:958px;
  top:636px;
  width:324px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5859 {
  position:absolute;
  left:735px;
  top:477px;
  width:180px;
  height:72px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5860 {
  position:absolute;
  left:735px;
  top:418px;
  width:213px;
  height:59px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
