body {
  margin:0px;
  background-image:url('../../images/new_page_28_4/bg.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 1200px;
  position:static;
  left:auto;
  width:1575px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5828 {
  position:absolute;
  left:963px;
  top:308px;
  width:165px;
  height:263px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5829 {
  position:absolute;
  left:1178px;
  top:248px;
  width:397px;
  height:660px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
